@{
    ViewData["Title"] = "Home Page";
}

<div class="panel panel-primary">
    <div class="panel-heading">
        <h2>Добро пожаловать! </h2>

    </div>
    <p><a href="/Data/Enrollee">Отчет о поступазщих абитуриентах </a></p>
</div>
